.test {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardLoading {
    text-align: center;
    color: rgb(58, 55, 55);
}

.cardsError {
    text-align: center;
    color: red;
}